<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prudential.rental.dao.RentalUserMapper">
	<resultMap id="BaseResultMap" type="com.prudential.rental.model.entity.RentalUser">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="career" property="career" jdbcType="VARCHAR" />
		<result column="pay_card_no" property="payCardNo" jdbcType="VARCHAR" />
		<result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
		<result column="date_updated" property="dateUpdated" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, career, pay_card_no, date_created,
		date_updated
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.prudential.rental.common.mybatis.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from rental_user
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from rental_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		rental_user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.prudential.rental.common.mybatis.Criteria">
		delete from rental_user
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.prudential.rental.dao.RentalUserMapper">
		insert into rental_user
		(userId, career,
		pay_card_no, date_created, date_updated)
		values
		(#{userId,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR},
		#{payCardNo,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP},
		#{dateUpdated,jdbcType=TIMESTAMP})
		
	</insert>
	<insert id="insertSelective" parameterType="com.prudential.rental.model.entity.CarStock">
		insert into rental_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				userId,
			</if>
			<if test="career != null">
				career,
			</if>
			<if test="payCardNo != null">
				pay_card_no,
			</if>
			<if test="dateCreated != null">
				date_created,
			</if>
			<if test="dateUpdated != null">
				date_updated,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="career != null">
				#{career,jdbcType=VARCHAR},
			</if>
			<if test="payCardNo != null">
				#{payCardNo,jdbcType=VARCHAR},
			</if>
			<if test="dateCreated != null">
				#{dateCreated,jdbcType=TIMESTAMP},
			</if>
			<if test="dateUpdated != null">
				#{dateUpdated,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.prudential.rental.common.mybatis.Criteria"
		resultType="java.lang.Integer">
		select count(*) from rental_user
		<if test="_parameter != null">
			<include refid="common.Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update rental_user
		<set>
			<if test="userId != null">
				userId,
			</if>
			<if test="career != null">
				career,
			</if>
			<if test="payCardNo != null">
				pay_card_no,
			</if>
			<if test="dateCreated != null">
				date_created,
			</if>
			<if test="dateUpdated != null">
				date_updated,
			</if>

		</set>
		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update rental_user
		set userId = #{record.userId,jdbcType=VARCHAR},
		career = #{record.career,jdbcType=VARCHAR},
		pay_card_no =
		#{record.payCardNo,jdbcType=VARCHAR},
		date_created =
		#{record.dateCreated,jdbcType=TIMESTAMP},
		date_updated =
		#{record.dateUpdated,jdbcType=TIMESTAMP}

		<if test="_parameter != null">
			<include refid="common.Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.prudential.rental.model.entity.CarStock">
		update rental_user
		<set>
			<if test="userId != null">
				userId = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="career != null">
				career = #{career,jdbcType=VARCHAR},
			</if>
			<if test="payCardNo != null">
				pay_card_no = #{payCardNo,jdbcType=VARCHAR},
			</if>
			<if test="dateCreated != null">
				date_created = #{dateCreated,jdbcType=TIMESTAMP},
			</if>
			<if test="dateUpdated != null">
				date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.prudential.rental.model.entity.CarStock">
		update rental_user
		set userId = #{record.userId,jdbcType=VARCHAR},
		career =
		#{record.career,jdbcType=VARCHAR},
		pay_card_no =
		#{record.payCardNo,jdbcType=VARCHAR},
		date_created =
		#{record.dateCreated,jdbcType=TIMESTAMP},
		date_updated =
		#{record.dateUpdated,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=VARCHAR}
	</update>
</mapper>